* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }
  button {
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid orange;
    color: orange;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #000;
    border-radius: 0.25em;
    transition: 0.3s ease-in-out;
  }
  button:hover {
    color: #fff;
    cursor: pointer;
    border: 2px solid lime;
    position: relative;
    bottom: 2.5px;
    transform: translateY(-0.25em);
    border-color: #276c73;
    box-shadow: 4px 4px 6px limegreen;
  }
  